@font-face{

font-family: 'Montserrat-Regular';

src: url('fonts/Montserrat-Regular.ttf') format('truetype');

font-weight: normal;

font-style: normal;

}




:root {
  --dark-blue: #0f2649;
  --blue: #2d71e6;
  --light-blue: #d9f6ff;

  --dark-red: #7f2b2b;
  --red: #e64a4a;
  --light-red: #ffe6ee;

  --white: #fff;

  --dark-gray: #2d2d2d;
  --gray: #ccc;
  --light-gray: #f2f2f2;

}



.videos {
    position: relative;
    height: 100%;
    margin: 0 auto;
}

.videos video {
    width: 100%;
    height: auto;
}

.choice {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .5);
    font-size: 40px;
	line-height: 60px;
}

.ch_buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 20%;
}



.ch_1, .ch_2{
	display: flex;
    align-items: center;
    justify-content: center;
	width: 40%;
	height: 80%;
	background: var(--white);
  cursor: pointer;
}

body{
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: fixed;
	background: var(--white);
    font-size: 40px;
  line-height: 60px;
}

body::backdrop {
  background: var(--white);
}




$primary-foreground-color: #fff; // #fff default

$primary-background-color: #2B333F;  // #2B333F default

$center-big-play-button: true; // true default

.video-js {
  font-size: 4em;
  color: $primary-foreground-color;
}

.vjs-default-skin .vjs-big-play-button {
  font-size: 5em;

  $big-play-width: 3em; 
  $big-play-height: 1.5em;

  line-height: $big-play-height;
  height: $big-play-height;
  width: $big-play-width;

  border: 0.06666em solid $primary-foreground-color;
  border-radius: 0.3em;

  @if $center-big-play-button {
    /* Align center */
    left: 50%;
    top: 50%;
    margin-left: -($big-play-width / 2);
    margin-top: -($big-play-height / 2);   
  } @else {
    /* Align top left. 0.5em = 15px default */
    left: 0.5em;
    top: 0.5em;
  }
}


.video-js .vjs-control-bar,
.video-js .vjs-big-play-button,
.video-js .vjs-menu-button .vjs-menu-content {
  background-color: $primary-background-color;
  background-color: rgba($primary-background-color, 0.7);
}

.video-js .vjs-control-bar {
  /* Start hidden *///
  display: none;
  position: absolute;
  bottom: 5vh;
  left: 0;
  right: 0;
  height: 3.0em;
  width: 70%;
  margin: auto;
  background-color: var(--dark-blue);
}

.video-js .vjs-slider {
  background-color: $slider-bg-color;
  background-color: rgba($slider-bg-color, 0.5);
}


.video-js .vjs-volume-level,
.video-js .vjs-play-progress,
.video-js .vjs-slider-bar {
  background: $primary-foreground-color;
}


.video-js .vjs-load-progress {
  background: lighten($slider-bg-color, 25%);
  background: rgba($slider-bg-color, 0.5);
}


.video-js .vjs-load-progress div {
  background: lighten($slider-bg-color, 50%);/
  background: rgba($slider-bg-color, 0.75);
}


.navigation {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .5);
    font-size: 40px;
  line-height: 60px;
}

.navigation div{
  display: flex;
    align-items: center;
    justify-content: center;
  width: 10%;
  height: 20%;
  background: var(--white);
  cursor: pointer;
}


.button{
  display: flex;
    align-items: center;
    justify-content: center;
  width: 10%;
  height: 10%;
  position: absolute;
  bottom: 0;
  right: 0;
  background: var(--dark-blue);
  cursor: pointer;
  color: var(--white);
}

.hide {
    display: none;
}

.active {
    display: block;
}