@font-face{

font-family: 'Montserrat-Regular';

src: url('fonts/Montserrat-Regular.ttf') format('truetype');

font-weight: normal;

font-style: normal;

}




:root {
  --dark-blue: #0f2649;
  --blue: #2d71e6;
  --light-blue: #d9f6ff;

  --dark-red: #7f2b2b;
  --red: #e64a4a;
  --light-red: #ffe6ee;

  --white: #fff;

  --dark-gray: #2d2d2d;
  --gray: #ccc;
  --light-gray: #f2f2f2;

}

.hide {
    display: none;
}

.active {
    display: block;
}

.videos {
    position: relative;
    height: 100%;
    margin: 0 auto;
}

.videos video {
    width: 100%;
    height: auto;
}

.choice {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .5);
    font-size: 40px;
	line-height: 60px;
}

.ch_buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 20%;
}



.ch_1, .ch_2{
	display: flex;
    align-items: center;
    justify-content: center;
	width: 40%;
	height: 80%;
	background: var(--white);
}

body{
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: fixed;
	background: var(--white);
}

body::backdrop {
  background: var(--white);
}

