@font-face{

font-family: Montserrat-Medium;

src: url('fonts/Montserrat-Medium.ttf') format('truetype');

font-weight: normal;

font-style: normal;

}

@font-face{

font-family: Montserrat-SemiBold;

src: url('fonts/Montserrat-SemiBold.ttf') format('truetype');

font-weight: normal;

font-style: normal;

}

@font-face{

font-family: Montserrat-Bold;

src: url('fonts/Montserrat-Bold.ttf') format('truetype');

font-weight: normal;

font-style: normal;

}


body{
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: fixed;
  background: var(--white);
    font-size: 1.56vw;
  line-height: 1.5em;
  text-align: center;
}

body::backdrop {
  background: var(--white);
}

div {
  z-index: 2;
}

.videos {
    position: relative;
    height: 100%;
    margin: 0 auto;
}

.videos video {
    width: 100%;
    height: auto;
}

.choice {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    top: 0;
    background-color: var(--light-blue);
}

.ch_title{
  display: flex;
    align-items: center;
    justify-content: center;
  color: var(--blue);
  font-family: Montserrat-SemiBold;
  font-size: 1.25em;
  line-height: 1.16em;
  text-align: center;
  width: 42.71%;
  height: 11.11%;
  margin-top: 12.04vh;
  margin-bottom: 7.59vh;
}


.ch_buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 73.96%;
    height: 51.67%;
}

.ch_1, .ch_2{
	display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
	width: 33.33vw;
	height: 100%;
  cursor: pointer;
}

.ch_img{
    align-items: center;
    width: 100%;
    height: 37.04vh;
    border: 0.16vw solid var(--white);
    border-radius: 2.6vw;
    overflow: hidden;
}


.ch_img img{
    height: 100%;
    align-items: center;
}

.ch_text{
  display: flex;
    align-items: center;
    justify-content: center;
  color: var(--blue);
  width: 20.83vw;
  height: 7.74vh;
  background: var(--white);
  font-family: Montserrat-Medium;
  font-size: 0.75em;
  line-height: 1.16em;
  border-radius: 2.6vw;
  padding: 1.11vh 1.51vw;
}


.timer {
  width: 42.71%;
  height: 1.04vw;
  margin: 0 0;
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 3.13vw;
  margin-bottom: 5.73vw;
  border-radius: 2.6vw;

}

.timer_line {
  width: 0;
  height: 100%;
  background: var(--light-blue);
  margin: 0;
border-radius: 2.6vw;
}

.game_2 .timer_line{
  background: var(--yellow);
}

.white_box{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: var(--white);
  mix-blend-mode: soft-light;
}





$primary-foreground-color: #fff; // #fff default

$primary-background-color: #2B333F;  // #2B333F default

$center-big-play-button: true; // true default

.video-js {
  font-size: 4em;
  color: $primary-foreground-color;
}

.vjs-default-skin .vjs-big-play-button {
  font-size: 5em;

  $big-play-width: 3em; 
  $big-play-height: 1.5em;

  line-height: $big-play-height;
  height: $big-play-height;
  width: $big-play-width;

  border: 0.06666em solid $primary-foreground-color;
  border-radius: 0.3em;

  @if $center-big-play-button {
    /* Align center */
    left: 50%;
    top: 50%;
    margin-left: -($big-play-width / 2);
    margin-top: -($big-play-height / 2);   
  } @else {
    /* Align top left. 0.5em = 15px default */
    left: 0.5em;
    top: 0.5em;
  }
}


.video-js .vjs-control-bar,
.video-js .vjs-big-play-button,
.video-js .vjs-menu-button .vjs-menu-content {
  background-color: $primary-background-color;
  background-color: rgba($primary-background-color, 0.7);
}

.video-js .vjs-control-bar {
  /* Start hidden *///
  display: none;
  position: absolute;
  bottom: 5vh;
  left: 0;
  right: 0;
  height: 3.0em;
  width: 70%;
  margin: auto;
  background-color: var(--dark-blue);
}

.vjs-default-skin .vjs-mute-control,
.vjs-default-skin .vjs-volume-menu-button {
  cursor: pointer;
  float: right;
}

.video-js .vjs-slider {
  background-color: $slider-bg-color;
  background-color: rgba($slider-bg-color, 0.5);
}


.video-js .vjs-volume-level,
.video-js .vjs-play-progress,
.video-js .vjs-slider-bar {
  background: $primary-foreground-color;
}


.video-js .vjs-load-progress {
  background: lighten($slider-bg-color, 25%);
  background: rgba($slider-bg-color, 0.5);
}


.video-js .vjs-load-progress div {
  background: lighten($slider-bg-color, 50%);/
  background: rgba($slider-bg-color, 0.75);
}


.navigation {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .5);
    font-size: 40px;
  line-height: 60px;
}

.navigation div{
    display: flex;
    align-items: center;
    justify-content: space-around;
        flex-direction: row;
        height: 50%;
}

.navigation div div{
  display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  width: 10%;
  height: 20%;
  background: var(--white);
  cursor: pointer;
  position: relative;
}

.navigation .lock{
  cursor: default;
}

.navigation div img{
  display: none;
  width: 35%;
  background: var(--white);
}

.navigation .lock img{
  display: block;
}

.button{
  display: flex;
    align-items: center;
    justify-content: center;
  width: 10%;
  height: 10%;
  position: absolute;
  bottom: 0;
  right: 0;
  background: var(--dark-blue);
  cursor: pointer;
  color: var(--white);
}

.money{
  width: 15.1vw;
  height: 8.85vw;
  position: absolute;
  top: 0;
  right: 0;
  color: var(--white);
  z-index: 3;
}

.total_money{
  display: flex;
  width: 8.33vw;
  height: 2.08vw;

  margin-top: 2.86vw;
  color: var(--blue);
  font-family: Montserrat-Bold;
  font-size: 1em;
  line-height: 0.75em;
  text-align: right;
  flex-direction: column;
  justify-content: center;
}

.change_money{
  display: flex;
  width: 8.33vw;
  height: 3.13vw;

  color: var(--green);
  font-family: Montserrat-Bold;
  font-size: 1.25em;
  text-align: right;
  flex-direction: column;
  justify-content: center;
  margin-top: 3vw;
  opacity: 0%;
}

.spend{
  color: var(--red);
}

.wallet_icon {
  width: 6.77vw;
  position: absolute;
  top: 0;
  right: 0;
}

.hide {
    display: none;
}

.active {
    display: block;
}